<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xjn.mapper.UserMapper">
    <!--int insertUser();-->
    <insert id="insertUser">
        insert into user values(null,'黄药师','18')
    </insert>
    <!--User selectUserById()-->
    <select id="selectUserById" resultType="com.xjn.pojo.User">
        select * from user where id = #{anyway}
    </select>
    <!--User selectUserByName()-->
    <select id="selectUserByName" resultType="com.xjn.pojo.User">
        select * from user where name = '${anyway}'
    </select>
    <!--User selectUserByNameAndAge()-->
    <select id="selectUserByNameAndAge" resultType="com.xjn.pojo.User">
        select * from user where name = '${arg0}' and age = '${param2}'
    </select>
    <!--User selectUserByNameAndAge2()-->
    <select id="selectUserByNameAndAge2" resultType="com.xjn.pojo.User">
        select * from user where name = '${name}' and age = '${age}'
    </select>
</mapper>